<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link
                href="https://bootswatch.com/5/sandstone/bootstrap.min.css"
                rel="stylesheet"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body style="background: #eaecf3">

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Project 3.4</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/display">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/articles/search">Rechercher</a>
                    </li>
                </ul>
                <ul class="nav justify-content-end">

                    {% if app.session.get('user') is not empty %}
                        {% if app.session.get('user').role == 2 %}
                            <li class="nav-item text-white me-3 btn btn-info">
                                <a href="{{ path('user_cart') }}"><i class="fas fa-shopping-cart me-1"></i><span class="ms-2"><span class="badge bg-danger">{{ user_cart|length }}</span></span></a>
                            </li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item">
                            <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#login" >Se connecter</a>
                        </li>
                    {% endif %}

                    {% if app.session.get('user') is empty %}
                    <li class="nav-item">
                        <a class="nav-link" href="/users/register">S'enregistrer</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="btn btn-info me-3" href="{{ path('user_profile') }}" title="Votre profil">Profil</a>
                    </li>
                    <li>
                        <a class="btn btn-danger" href="{{ path('user_logout') }}" title="Deconnexion"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container-sm my-5">
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
</body>
</html>
