{% extends '@App/base.html.twig' %}
{% block title %}Liste d'articles{% endblock %}

{% block body %}

    <h3 class="text-info">Liste des produits</h3>
    <a class="btn btn-info" href="/articles/add"><i class="fas fa-plus me-2"></i>Ajouter un article</a>
    <a class="btn btn-success" href="/articles/search"><i class="fas fa-search me-2"></i>Rechercher</a>
    <hr>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <table class="table table-striped shadow-sm rounded bg-white">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr>
                    <th>{{ article.name|upper }}</th>
                    <th>{{ article.quantity }}</th>
                    <th class="text-end">
                    {# Details #}
                    <a href="{{ path('article_details', {id: article.id}) }}" class="btn btn-secondary">Details</a>

                    {% if app.session.get('user').role == 1 %}
                    {# Modifier #}
                    <a href="{{ path('article_update', {id: article.id}) }}" class="btn btn-warning">Modifier</a>

                    {# Supprimer #}
                   <a href="{{ path('article_delete', {id: article.id}) }}" class="btn btn-danger" onclick="if(!confirm('Confirmer la suppression ?')) { return false }">Supprimer</a>

                    {% elseif app.session.get('user').role == 2 %}

                    {# Commander #}
                        <a href="" class="btn btn-success">Commander</a>
                    {% endif %}
                    </th>
                </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}