{% extends '@App/base.html.twig' %}

{% block body %}

    <div class="container mt-5">
        <h3 class="text-info">Liste des produits</h3>
        <span><a class="btn btn-info" href="/articles/add">Ajouter un article</a></span>
        <hr>
        {% for message in app.flashes('info') %}
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <table class="table table-striped shadow-sm rounded bg-white">
            <thead>
            <tr>
                <th>Produit</th>
                <th class="text-end">Quantité</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <th>{{ article.name }}</th>
                    <th class="text-end">{{ article.quantity }}</th>

                    {# Details #}
                    <th class="text-end"><a href="{{ path('article_details', {id: article.id}) }}"
                                            class="btn btn-secondary">Details</a>

                    {# Modifier #}
                    <a href="{{ path('article_update', {id: article.id}) }}" class="btn btn-warning">Modifier</a>

                    {# Supprimer #}
                    <a href="{{ path('article_delete', {id: article.id}) }}"
                                            class="btn btn-danger"
                                            onclick="if(!confirm('Confirmer la suppression ?')) { return false }">Supprimer</a></th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}