{% extends '@App/base.html.twig' %}
{% block title %}Panier{% endblock %}

{% block body %}

    <div class="d-flex flex-wrap">
    {% set total = 0 %}

    {% for c in user_cart  %}

        {% set t = c.article.price * c.quantityOrder %}
        {% set total = total + t %}

        <div class="col">
            <div class="card" style="width: 250px">
                <img src="{{ asset('photo_article/' ~ c.article.photo ) }}" class="card-img-top" alt="{{ c.article.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ c.article.name }}</h5>
                    <p class="card-text"><small class="text-danger">Total: {{ c.article.price * c.quantityOrder }}€</small></p>
                    <p class="card-text"><a class="btn btn-danger" href="{{ path('user_delete_cart', {id:c.id}) }}">Supprimer</a></p>
                </div>
            </div>
        </div>

    {% endfor %}
    </div>

    <div class="d-block">
        <span class="btn btn-warning">Total Panier: {{ total }}€</span>
    </div>

{% endblock %}


