{% extends '@App/base.html.twig' %}
{% block title %}{{ dynamic }}{% endblock %}

{% block body %}

    <h3>{{ dynamic }}</h3>
    <div class="form-group mt-4">
        {{ form_start(form) }}

        <div class="d-flex">
            <div>
                {# LASTNAME #}
                {{ form_label(form.lastName) }}
                {{ form_widget(form.lastName) }}
            </div>
            <div>
                {# FIRSTNAME #}
                {{ form_label(form.firstName) }}
                {{ form_widget(form.firstName) }}
            </div>
        </div>

        <div class="d-flex">
            <div>
                {# EMAIL #}
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
            </div>
            <div>
                {# ROLE #}
                {{ form_label(form.role) }}
                {{ form_widget(form.role) }}
            </div>
        </div>

        <div class="d-flex">
            <div>
                {# PASSWORD #}
                {{ form_label(form.password) }}
                {{ form_widget(form.password) }}
            </div>
            <div>
{#                #}{# PASSWORD CONFIRM #}
{#                {{ form_label(form.password_confirm) }}#}
{#                {{ form_widget(form.password_confirm) }}#}
            </div>
        </div>

        {# FILE #}
        {{ form_label(form.photo) }}
        {{ form_widget(form.photo) }}

        {# BUTTON #}
        {{ form_row(form.submit, {'label':dynamic}) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


